<div class="footer">
        <h1>©Copyright 2020 Rory Cormack Alexander Peters, Matthew Benjamin Schrank, Charlie Gerhardt Phillips, Oliver Kristian Fritsche, Brandon Lawrence Wisnicki</h1>
      
</div>