<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.css">

  <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  

</head>

<body>


  <%- include('header.ejs') %>


  <div class="home-flex">
  <h1 class="twiggle">planr</h1>

  <h2 style="text-align:center; font-size:2em; margin-top: 0;">The Future of Planning</h2>
    <a href="<%= login_url %>" class="myButton">Login</a>
  </div>
  <%- include('footer.ejs') %>


</body>

</html>