<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
  <script>

    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>
  <meta name="google-signin-client_id"
    content="966739472863-dqp2890nk3io6at5pa3l3gatalffst1o.apps.googleusercontent.com">
</head>

<body>

    <%- include('header.ejs') %>



<div class="divider">

  <div class="divider-item">
    <h3>Test</h3>
    
  </div>

<div class="divider-item">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate molestie mi vestibulum semper. In ultrices pulvinar posuere. Vestibulum interdum tristique dolor sit amet vestibulum. Nullam mollis consequat velit, at feugiat elit. Ut molestie quis lectus aliquet sodales. Phasellus mollis posuere mauris, ut eleifend leo porta ut. Aenean tempor leo a lorem euismod facilisis. Maecenas porta sem laoreet magna vestibulum iaculis. Donec lacinia congue rutrum. Sed nec ultricies sem, vitae mattis nulla. Vestibulum sagittis ac neque rutrum congue. Phasellus eleifend fringilla erat, id fermentum ante euismod sit amet. Cras rutrum diam id mi commodo, vitae fermentum ipsum placerat. Donec lacinia imperdiet dui in blandit.</h3>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

  </div>

</div>


    <%- include('footer.ejs') %>

</body>

</html>