<html>

<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script
        src="https://www.googleapis.com/customsearch/v1?key=AIzaSyB2CrU2kt63xcSGPmy7xMYpR95NDqD2SSM&cx=000973762217951130853:ve5xcqgsqcu&q=energys&callback=hndlr">
        </script>
</head>

<body>

    <%- include('header.ejs') %>



    <%- include('footer.ejs') %>

</body>

</html>