<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta name="google-signin-client_id"
    content="966739472863-dqp2890nk3io6at5pa3l3gatalffst1o.apps.googleusercontent.com">
</head>

<body>

    <%- include('header.ejs') %>


    <h4>Teacher Name</h4>

<h3>Class Name</h3>


</body>

</html>