<html>

<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id"
        content="966739472863-dqp2890nk3io6at5pa3l3gatalffst1o.apps.googleusercontent.com">
</head>

<body>

    <%- include('header.ejs') %>
    <div class="class">
        <div>
            <h4>Teacher Name</h4>

            <h2>Class Name</h2>
        </div>

        <div>
            <ul>
                <li class="high-priority">
                    Assignment 1 - (due dd/mm)
                </li>
                <li class="med-priority">
                    Assignment 2 - (due dd/mm)
                </li>
                <li class="low-priority">
                    Assignment 2 - (due dd/mm)
                </li>
            </ul>

        </div>
    </div>

</body>

</html>